/*desktop*/
#content {
width: 75%;
margin: auto;
line-height: 1.5em;
font-size: 1.5em;
color: black;
}

/*phone*/
@media (orientation: portrait){
    #content {width:100%;}
}

/* do this for all the ids. This one nav-bar (all the websites + pages)*/ 
#nav-bar {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: darkturquoise;
    margin: auto; 
}
.nav-button a {
    color: black;
    /* use to make spacing even */
}
